.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 160px;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add a subtle shadow for depth */
}

.form-group {
  margin-bottom: 15px;
  position: relative; /* Prepares for potential positioning of elements inside */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  padding-left: 5px; /* Aligns text slightly away from the edge */
}

.form-group input {
  width: calc(100% - 20px); /* Adjusts width to account for padding */
  padding: 10px;
  margin: 0 10px; /* Adds margin to the sides */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Align checkbox and "Remember Me" in one line with space around */
/* Ensure the form group for the checkbox is using flex display */
.form-group-checkbox {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  margin-left: 70%; /* Aligns content to the left */
  
}

.form-group-checkbox label {
  margin-left: 8px; /* Adjust as needed for space between checkbox and label */
  white-space: nowrap; /* Keeps the label on one line */
  
}

/* Targeting the checkbox directly to reduce space */
.form-group-checkbox input[type="checkbox"] {
  margin: 0; /* Removes default margin */
  padding-right: 8px; /* Adds some space to the right of the checkbox */
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% - 20px); /* Button width to match input fields */
  margin: 10px 10px; /* Aligns margin with input fields */
}

button:hover {
  background-color: #0056b3;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .login-container {
    margin-top: 60px; /* Less margin at the top for smaller screens */
    padding: 15px; /* Slightly less padding to accommodate smaller screens */
  }

  .form-group label {
    padding-left: 3px; /* Less padding on smaller screens */
  }

  .form-group input,
  button {
    margin: 0 5px; /* Adjust margins for smaller screens */
  }
}

@media (max-width: 480px) {
  .login-container {
    border: 2px solid #ccc; /* Thinner border on very small screens */
    margin-top: 30px; /* Less margin at the top */
  }

  .form-group, .form-group-checkbox {
    flex-direction: column; /* Stack checkbox and label vertically on smaller screens */
    align-items: flex-start;
  }

  .form-group-checkbox input[type="checkbox"] {
    margin: 0 0 5px 0; /* Adjust checkbox margin on smaller screens */
  }
}


